.navbar-main-container {
    background-color: #0C2B4E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 20px;
    font-weight: 20px;
    cursor: pointer;
}

.main-logo {
    border-radius: 70%;
}

.navbar-links-container {
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.nav-links-text {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #F6F8D5;
    font-weight: bold;
    display: inline-block;
}

.top-bar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
}

.top-options {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 50px;
}

.top-link {
    text-decoration: none;
    color: #F6F8D5;
    font-weight: 500;
    transition: color 0.3s ease;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 8px 12px;
    width: 150px;
    margin-top: 20px;
    margin-right: -30px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
}